@charset "UTF-8";
/* ================================================================
MAIN
=================================================================== */
/* プレビューを開くボタン */
.preview-button a {
    padding: 1rem;
    border: 1px solid var(--accent-color);
    border-radius: 10rem;
    background-color: var(--accent-color);
    color: var(--base-color);
    font: var(--sub-font);
    font-size: 1rem;
    transition: all .3s;
}
.preview-button a:hover {
    background-color: var(--base-color);
    color: var(--accent-color);
}

/* ================================================================
MODAL WINDOW
=================================================================== */
/* モーダルウィンドウが開いた後の画面サイズ */
.modaal-container {
    width: 80vw !important;
    height: 80vh !important;
    object-fit: cover !important;
}

/* ================================================================
MOBILE
=================================================================== */
@media screen and (max-width:500px) {
    #pdf-preview-iframe {
      max-width: 100%;
    }
}